@using EnglishForKids.ViewModels;
@using EnglishForKids.Utilities;
@model ArticleViewModel
@{
    int d = 0;
    int category_id = Model.category_id;
}

<div class="list-news-top list-news">
    <div class="row">
        <div class="col-md-8">
            @{
                // Lấy bài ghim position = 1, nếu không có thì lấy bài position = 0 mới nhất
                var mainArticles = Model.obj_article_list
                .Where(a => a.status == 0 && a.position == 1) // Lọc bài có position = 1
                .OrderByDescending(a => a.publish_date) // Sắp xếp theo ngày xuất bản, bài mới nhất trước
                .Take(1) // Chỉ lấy 1 bài
                .ToList();

                if (!mainArticles.Any()) // Nếu không có bài position = 1
                {
                    var excludeIds = new List<long>(); // Danh sách bài bị loại
                    excludeIds.AddRange(mainArticles.Select(x => x.id)); // Bỏ qua bài trong mainArticles (tránh dư thừa)

                    mainArticles = Model.obj_article_list
                    .Where(a => a.status == 0 && a.position == 0 && !excludeIds.Contains(a.id)) // Lấy bài position = 0 mới nhất
                    .OrderByDescending(a => a.publish_date)
                    .Take(1)
                    .ToList();
                }
            }
            @foreach (var item in mainArticles)
            {
                string folder_name = item.list_category_name.Split(",").First();
                int folder_id = Convert.ToInt32(item.list_category_id.Split(",").First());
                string link_folder = @Html.GetStaticUrlCategory(folder_name, folder_id);
                string link = @Html.GetStaticUrlNews(item.title, item.id);
                <div class="top-news">
                    <div class="item-news">
                        <div class="box-news">
                            <div class="thumb-art">
                                <div class="thumb thumb-news">
                                    <a href="@link"><img src="@item.image_169" alt="@item.title" /> </a>
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="flex-cat">
                                    <span class="time">
                                        <i class="icon icon-time"></i>
                                        @item.publish_date.ToString("dd/MM/yyyy")
                                    </span>
                                    @if (category_id <= 0)
                                    {
                                        <a href="@link_folder" class="cat-tag">@folder_name</a>
                                    }
                                </div>
                                <h2 class="title-news">
                                    <a href="@link">@item.title</a>
                                </h2>
                                <p class="description">
                                    @item.lead
                                </p>
                                <a href="@link" class="xemthem">Đọc tiếp</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <div class="next-news">
                @{
                    // Lấy bài ghim position = 2,3
                    var sideArticles = Model.obj_article_list
                    .Where(a => a.status == 0 && (a.position == 2 || a.position == 3)) // Lọc position = 2 hoặc 3
                    .GroupBy(a => a.position) // Nhóm theo position
                    .Select(g => g.OrderByDescending(a => a.publish_date).First()) // Lấy bài mới nhất trong mỗi nhóm
                    .ToList();

                    // Nếu thiếu bài, bổ sung bài position = 0 mới nhất
                    if (sideArticles.Count < 2)
                    {
                        var excludeIds = sideArticles.Select(x => x.id).ToList(); // Danh sách bài bị loại
                        excludeIds.AddRange(mainArticles.Select(x => x.id)); // Loại bỏ bài trong mainArticles

                        var additionalArticles = Model.obj_article_list
                        .Where(a => a.status == 0 && a.position == 0 && !excludeIds.Contains(a.id)) // Lấy bài position = 0
                        .OrderByDescending(a => a.publish_date) // Sắp xếp theo publish_date
                        .Take(2 - sideArticles.Count) // Chỉ lấy đủ số bài thiếu
                        .ToList();

                        // Gộp danh sách
                        sideArticles.AddRange(additionalArticles);
                    }

                    // Sắp xếp danh sách theo ưu tiên:
                    // - position = 2 ở trên cùng
                    // - position = 0 ở giữa
                    // - position = 3 ở dưới cùng
                    sideArticles = sideArticles
                    .OrderBy(a => a.position == 2 ? 0 : (a.position == 0 ? 1 : 2)) // Quy tắc sắp xếp
                    .ThenByDescending(a => a.publish_date) // Nếu cùng position, ưu tiên bài mới hơn
                    .ToList();
                }
                @foreach (var item in sideArticles)
                {
                    string folder_name = item.list_category_name.Split(",").First();
                    int folder_id = Convert.ToInt32(item.list_category_id.Split(",").First());
                    string link_folder = @Html.GetStaticUrlCategory(folder_name, folder_id);
                    string link = @Html.GetStaticUrlNews(item.title, item.id);
                    <div class="item-news">
                        <div class="box-news">
                            <div class="thumb-art">
                                <div class="thumb thumb-news">
                                    <a href="@link"><img src="@item.image_169" alt="@item.title" /> </a>
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="flex-cat">
                                    <span class="time">
                                        <i class="icon icon-time"></i>
                                        @item.publish_date.ToString("dd/MM/yyyy")
                                    </span>
                                    @if (category_id <= 0)
                                    {
                                        <a href="@link_folder" class="cat-tag">@folder_name</a>
                                    }
                                </div>
                                <h2 class="title-news">
                                    <a href="@link">@item.title</a>
                                </h2>
                                <p class="description">
                                    @item.lead
                                </p>
                                <a href="@link" class="xemthem">Đọc tiếp</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="list-news">
    @{
        // var d = 1;
        // Lấy ID của tất cả bài đã hiển thị ở trên
        var displayedIds = mainArticles.Select(x => x.id)
            .Concat(sideArticles.Select(x => x.id))
            .ToList();
        
        // Lấy các bài còn lại, không trùng với bài đã hiển thị
        var remainingArticles = Model.obj_article_list
            .Where(a => a.status == 0 && !displayedIds.Contains(a.id))
            .OrderByDescending(a => a.publish_date)
            .Take(10);
    }
    @foreach (var item in remainingArticles)
    {
        string link = @Html.GetStaticUrlNews(item.title, item.id);
        <div class="item-news">
            <div class="box-news">
                <div class="thumb-art">
                    <div class="thumb thumb-news">
                        <a href="@link"><img src="@item.image_169" alt="@item.title" /> </a>
                    </div>
                </div>
                <div class="right-content">
                    <div class="flex-cat">
                        <span class="time">
                            <i class="icon icon-time"></i>
                            @item.publish_date.ToString("dd/MM/yyyy")
                        </span>
                    </div>
                    <h2 class="title-news">
                        <a href="@link">@item.title</a>
                    </h2>
                    <p class="description">
                        @item.lead
                    </p>
                    <a href="@link" class="xemthem">Đọc tiếp</a>
                </div>
            </div>
        </div>

        if (d == 3)
        {
            <div class="banner-ads-full">
                <a href="/">
                    <img src="~/images/banner3.jpg" alt="Biolife" />
                </a>
            </div>
        }
        d += 1;
    }
</div>
